.App {
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  
}
.register, .login{
  width: 350px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border: 2px solid brown;
  padding: 10px;
  max-width: auto;
}

label, input {
  display: block;
  margin-top: 10px;
}

button{
  display: block;
  margin-top: 10px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  background-color: black;
}